<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Cadastro de Visitantes</title>
</head>
<body>
    <h2>Formulário de Visita</h2>
    <form method="post">
        Nome: <input type="text" name="nome" required><br>
        CPF: <input type="text" name="cpf" required><br>
        Placa do veículo: <input type="text" name="placa"><br>
        Apartamento: <input type="text" name="apartamento" required><br>
        Vaga: <input type="text" name="vaga"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
